@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
    background-image: url(./background.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-size: 22px;
    font-weight: normal;
    font-family: 'Lobster', cursive;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    margin: 200px auto;
    max-width: 400px;
    position: relative;
}

.toast {
    text-align: center;
    background: rgba(0, 0, 0, 1);
    padding: 15px;
    border-radius: 10px;
    animation: show 500ms;
    color: white;
    font-size: 15px;
}

@keyframes show {
    0% {
        transform: scale(0);
    }
}

.btn {
    position: absolute;
    top: 200px;
    left: 136px;
    width: 100px;
    height: 100px;
    border: none;
    border-radius: 50%;
    background: black;
    cursor: pointer;
    font-size: 18px;
    font-family: inherit;
    color: white;
}

.countGlass {
    position: absolute;
    top: 350px;
    left: 136px;
    padding: 10px;
    border-radius: 10px;
    background-color: black;
    color: white;
}